[submodule "Arbiter_Fragment"]
	path = Arbiter_Fragment
	url = ../Arbiter_Fragment.git
	update = rebase
[submodule "ConfigAPI"]
	path = ConfigAPI
	url = ../ConfigAPI.git
	update = rebase
[submodule "CustomMapUtility"]
	path = CustomMapUtility
	url = https://github.com/uGuardian/LoR_CustomMapUtility.git
	update = rebase
[submodule "FinnalBattle"]
	path = FinnalBattle
	url = ../FinnalBattle.git
	update = rebase
[submodule "NoSkinLoad"]
	path = NoSkinLoad
	url = ../NoSkinLoad.git
	update = rebase
[submodule "Steamworks_Updater"]
	path = Steamworks_Updater
	url = ../Steamworks_Updater.git
	update = rebase
